*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxHeader {
    height: 80px;
}

.logo {
    padding: 15px;
    display: flex;
    align-items: center;
}

.privacy {
    padding-left: 10px;
    color: grey;

}

.listato {
    list-style-type: none;
    display: flex;
    margin-left: 15px;
    padding-bottom: 10px;
}


.page {
    padding: 50px;
    max-width: 90%;
    margin: auto;
}
